<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All</title>
</head>
<body>
    <%- include("../partials/navbar.ejs")  %> 

    <h1>All users</h1>


    <% let count = 1 %> 
    <% allUser.forEach( user => { %>

        <div style="background: red;margin: 10px">
            <p>Number: <%= count %> </p>
            <p>Name: <%= user.name %> </p>
            <p>email: <%= user.email %></p>
            <p>password: <%= user.password %></p>
            <% count++ %> 
        </div>

    <% } ) %> 

    


</body>
</html>